[submodule "Projects/rock-paper-scissors"]
	path = Projects/rock-paper-scissors
	url = https://github.com/spencerberggreen/rock-paper-scissors
[submodule "Projects/barbell-calculator"]
	path = Projects/barbell-calculator
	url = https://github.com/spencerberggreen/barbell-calculator
