@import 'reset.css';

body {
    margin: 0;
}

#cube {
    flex: auto;
    align-items: center;
    justify-content: center;
}

main {
    position: absolute;
    color: white;
    font-size: 50px;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}
