@import 'reset.css';

/* SETUP */

:root {
    /* fallback system fonts */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    /* preferred fonts */
    font-family: Arial, Helvetica, sans-serif;
    /* color palette */
    --white: #eeeeee;
    --light: #14ffec;
    --medium: #0d7377;
    --dark: #272727c0;
    --black: #191919;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

main {
    color: var(--white);
    position: absolute;
    width: 100%;
    padding-left: 16vmin;
    padding-right: 16vmin;
}

body {
    background-color: var(--black);
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

/* STRUCTURE */

header {
    height: 100px;
    padding-left: 5vmin;
    padding-right: 5vmin;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 42px;
    font-size: 1.5rem;
}

#intro,
#about,
#projects,
#experience,
#contact {
    padding-top: 30vh;
    padding-bottom: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bg-card {
    background: var(--dark);
    padding: 5vmin;
    min-height: 40vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px 30px;
}

.nav-links {
    display: flex;
    background: var(--black);
}

.nav-links a {
    color: var(--white);
    padding: 0.8rem;
    text-decoration: none;
}

.nav-links a:hover {
    color: var(--light);
}

.logo {
    display: flex;
    height: 42px;
}

.burger {
    display: none;
    cursor: pointer;
    background-color: var(--black);
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--white);
    margin: 5px;
}

#project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#project-list img {
    width: 100%;
    max-height: 60vmin;
}

#project-list li {
    padding: 4vmin;
}

#project-links {
    display: flex;
    align-items: flex-end;
}

#project-list a {
    padding: 2vmin;
    float: right;
}

#project-list h5 {
    padding-bottom: 1vmin;
}

/* BURGER ANIMATION */

@media screen and (max-width: 1200px) {
    main {
        padding-left: 8vmin;
        padding-right: 8vmin;
    }
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        min-height: 250px;
        height: 80vmin;
        top: 70px;
        min-width: 50vmin;
        background-color: var(--black);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: scale(0, 1);
        transition: 0.2s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: scale(1, 1);
}

/* NAV LINK ANIMATIONS */

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* TEXT FORMATTING */

h1,
h2,
h3,
h5 {
    text-shadow: 0.4vmin 0.4vmin 0.6vmin black;
}

h1 {
    font-size: clamp(3rem, 8vmin, 8rem);
    font-weight: bold;
    padding-top: 5vmin;
    padding-bottom: 5vmin;
}

h2 {
    font-size: clamp(2rem, 3vmin, 8rem);
}

h3 {
    font-size: clamp(2rem, 4vmin, 8rem);
}

h5 {
    font-size: clamp(1.1rem, 1.5vmin, 2.5rem);
    font-family: monospace;
    color: var(--light);
}

a {
    font-size: clamp(1.5rem, 1vmin, 4rem);
    font-family: monospace;
}

p {
    font-size: clamp(1.5rem, 1vmin, 4rem);
    padding-top: 5vh;
}

svg {
    color: var(--white);
    filter: drop-shadow(3px 3px 2px black);
}

svg:hover {
    color: var(--light);
}
