@import 'reset.css';

/* SETUP */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    color: white;
    position: absolute;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

section {
    border: 2px solid lime;
}

/* STRUCTURE */

header {
    height: 100px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 128, 0.541);
    border: 4px solid hotpink;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 42px;
}

.nav-links {
    display: flex;
}

.nav-links a {
    padding: 10px;
    text-decoration: none;
}
.logo {
    display: flex;
    height: 42px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 50vh;
        top: 100px;
        background-color: rgba(0, 0, 128, 0.541);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 50%;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }
    .nav-links li {
        opacity: 50;
    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}
