@import 'reset.css';

/* SETUP */

:root {
    /* fallback system fonts */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    /* preferred fonts */
    font-family: Arial, Helvetica, sans-serif;
    /* color palette */
    --white: #eeeeee;
    --light: #14ffec;
    --medium: #0d7377;
    --dark: #272727;
    --black: #191919;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* outline: 1px solid hotpink;
    border-radius: 10px; */
}

body {
    background-color: var(--black);
    color: var(--white);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

main {
    background-color: var(--dark);
    border-radius: 3vmin;
    height: 90vh;
    width: 90vmin;
    border: 2vmin solid var(--dark);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#barbell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    /* background-color: var(--black); */
}

#bar-middle {
    width: 1000px;
}

#bar-left,
#bar-right {
    width: 20%;
}

#bar-middle,
#bar-left,
#bar-right {
    height: 8%;
    background: linear-gradient(grey 00%, black 100%);
}

#plates-left,
#plates-right {
    display: flex;
    height: 100%;
}

.spinner {
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding: 10px;
}

button {
    height: 35px;
    width: 35px;
    border-radius: 5px;
    font-size: 1.5rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.l55,
.r55 {
    height: 100%;
    width: 22px;
    border-radius: 10px;
    border: 2px solid black;
    background: linear-gradient(red 50%, black 100%);
}

.l45,
.r45 {
    height: 100%;
    width: 22px;
    border-radius: 10px;
    border: 2px solid black;
    background: linear-gradient(blue 50%, black 100%);
}

.l35,
.r35 {
    height: 100%;
    width: 22px;
    border-radius: 10px;
    border: 2px solid black;
    background: linear-gradient(yellow 50%, black 100%);
}

.l25,
.r25 {
    height: 100%;
    width: 22px;
    border-radius: 10px;
    border: 2px solid black;
    background: linear-gradient(green 50%, black 100%);
}

.p15,
.p10,
.p5 {
    height: 100%;
    width: 22px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: white;
}
